#canvasWrap {
  text-align: center;
  width: 100%;
  height: 100%;
}
#canvasWrap canvas {
  margin: 0 auto;
}

.c-controls {
  width: 100%;
  height: 60px;
  padding-left: 90px;
  display: inline-flex;
  align-items: center;
  background-color: yellow;
  [type="text"] {
    display: inline-block;
    line-height: 1;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    & + [type="button"],
    & + [type="text"] {
      margin-left: 10px;
    }
  }
  [type="button"] {
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
    & + [type="button"],
    & + [type="text"] {
      margin-left: 10px;
    }
    &:focus,
    &:hover {
      color: #409eff;
      border-color: #c6e2ff;
      background-color: #ecf5ff;
    }
    &:active {
      color: #3a8ee6;
      border-color: #3a8ee6;
      outline: 0;
    }
  }
}
.c-logs {
  li {
    text-align: left;
  }
}
